<template>
  <form @submit.prevent="submitForm">
    
    <!-- NAME -->
    <div class="form-control" :class="{invalid: userNameValidity ==='invalid'}">
      <label for="user-name">Your Name</label>
      <input id="user-name" name="user-name" type="text" v-model.trim="userName" @blur="validateInput"/>
      <p v-if="userNameValidity === 'invalid'">Please enter valid name</p>
    </div>

    <!-- AGE -->
    <div class="form-control">
      <label for="age">Your Age (Years)</label>
      <input id="age" name="age" type="number" v-model="userAge" ref="ageInput" />
    </div>

    <!-- DROPDOWN -->
    <div class="form-control">
      <label for="referrer">How did you hear about us?</label>
      <select id="referrer" name="referrer" v-model="referrer">
        <option value="google">Google</option>
        <option value="wom">Word of mouth</option>
        <option value="newspaper">Newspaper</option>
      </select>
    </div>

    <!-- CHECKBOXES -->
    <div class="form-control">  
      <h2>What are you interested in?</h2>
      <div>
        <input id="interest-news" name="interest" type="checkbox" value="news" v-model="interest"/>
        <label for="interest-news">News</label>
      </div>
      <div>
        <input id="interest-tutorials" name="interest" type="checkbox" value="tutorials" v-model="interest"/>
        <label for="interest-tutorials">Tutorials</label>
      </div>
      <div>
        <input id="interest-nothing" name="interest" type="checkbox" value="nothing" v-model="interest"/>
        <label for="interest-nothing">Nothing</label>
      </div>
    </div>

    <!-- RADIO-BUTTONS -->
    <div class="form-control">
      <h2>How do you learn?</h2>
      <div>
        <input id="how-video" name="how" type="radio" value="video" v-model="how"/>
        <label for="how-video">Video Courses</label>
      </div>
      <div>
        <input id="how-blogs" name="how" type="radio" value="blog" v-model="how"/>
        <label for="how-blogs">Blogs</label>
      </div>
      <div>
        <input id="how-other" name="how" type="radio" value="other" v-model="how"/>
        <label for="how-other">Other</label>
      </div>
    </div>

    <!-- RatingControl -->
    <div class="form-control">
      <rating-control v-model="rating"></rating-control>
      <!-- <rating-control :model-value="" @update:modelValue=""></rating-control> -->
    </div>

    <!-- SINGLE CHECKBOX -->
    <div class="form-control">
      <input type="checkbox" id="confirm-terms" name="confirm-terms" v-model="confirm"/>
      <label for="confirm-terms">Agree to terms of use?</label>
    </div>

    <div>
      <button>Save Data</button>
    </div>

  </form>
</template>

<script>
  import RatingControl from './RatingControl.vue'

  export default {
    components:{
      RatingControl
    },
    data() {
      return {
        userName: '',                 // USER-NAME
        userAge: null,                // USER-AGE
        referrer: 'wom',              // DROPDOWN
        interest: [] ,                // CHECKBOXES
        how: null,                    // RADIO-BUTTONS
        confirm: false,               // CHECKBOX
        userNameValidity: 'pending',   // VALIDATION
        rating: null
      };
    },
    methods: {
      submitForm() {
        //USER-NAME
          console.log('Username:' + this.userName);
          this.userName='';
          console.log();
        
        //USER-AGE
          console.log('User age:');
          console.log(this.userAge);  
          this.userAge=null;   

        //DROPDOWN
          console.log('Referrer: ' + this.referrer);
          this.referrer='wom';

        //CHECKBOXES
          console.log('Checkboxes: ');
          console.log(this.interest);
          this.interest=[];

        //RADIO-BUTTON
          console.log('Radiobuttons: ' + this.how);
          this.how=null;

        //CHECKBOX
          console.log('Confirm: ');
          console.log(this.confirm);
          this.confirm = false;

        //RATING COMPONENT
          console.log('Rating');
          console.log(this.rating);
          this.rating=null;
      },
      validateInput() {
          if (this.userName === ''){
            this.userNameValidity='invalid';
          } else {
            this.userNameValidity='valid';
          }
      }
    }
  }
</script>

<style scoped>
  form {
    margin: 2rem auto;
    max-width: 40rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 2rem;
    background-color: #5a5656;
  }

  .form-control {
    margin: 0.5rem 0;
  }

  .form-control.invalid input{
    border-color: red;    
  }

  .form-control.invalid label, p{
    color: red;    
  }

  label {
    font-weight: bold;
  }

  h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  input,
  select {
    display: block;
    width: 100%;
    font: inherit;
    margin-top: 0.5rem;
  }

  select {
    width: auto;
  }

  input[type='checkbox'],
  input[type='radio'] {
    display: inline-block;
    width: auto;
    margin-right: 1rem;
  }

  input[type='checkbox'] + label,
  input[type='radio'] + label {
    font-weight: normal;
  }

  button {
    font: inherit;
    border: 1px solid #0076bb;
    background-color: #0076bb;
    color: white;
    cursor: pointer;
    padding: 0.75rem 2rem;
    border-radius: 30px;
  }

  button:hover,
  button:active {
    border-color: #002350;
    background-color: #002350;
  }
</style>